{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["ie >= 11", "last 2 versions", "safari >= 7"],
        },
        "modules": false,
        "loose": true
      }
    ]
  ],
  "plugins": [
    "babel-plugin-lodash",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-do-expressions"
  ]
}
